@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

$primary-color: #81c2eb;
$dark-primary-color: darken($primary-color, 30);

$_8px: 8px;
$_16px: 16px;
$boder-radius: 5px;

/* List Wrapper */
$column-bg-color: #ebecf0;
$height-column-header: 40px;
$height-column-footer: 40px;