@import '../../variables.scss';

.dashboard-container {
  width: 100%;
  height: calc(100vh - #{$navbar-height});
  background-color: $primary-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard-content {
  height: calc(100vh - #{$navbar-height} - #{$navbar-dashboard-height});
  padding: 0 calc(#{$_16px - 4px}) $_16px calc(#{$_16px - 4px});
  display: flex;
  overflow-x: auto;

  scrollbar-color: #ffffff30 #ffffff10;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: $_8px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff10;
    border-radius: $boder-radius;
  }

  &::-webkit-scrollbar-thumb {
    background: #ffffff30;
    border-radius: $boder-radius;
  }

  .list-wrapper-dragging {
    transition: transform 0.2s ease;
    transform: rotateZ(5deg);
  }

  .list-wrapper-dropping {
    transition: transform 0.2s ease-in-out;
    transform: rotateZ(0deg);
  }

  .list-wrapper-drop-preview {
    margin: 0 4px;
    margin-bottom: 8px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: $boder-radius;
  }

  .add-list {
    height: 100%;
    margin: 0 4px;
    border-radius: $boder-radius;

    .button-add-list {
      width: 275px;
      display: none;
      border-radius: $boder-radius;
      height: $height-column-header;
      background-color: #00000020;
      display: flex;
      align-items: center;
      padding: 0 16px;
      cursor: pointer;
      transition: $transition-hover;

      .bi-plus-lg {
        color: #fff;
      }

      span {
        color: #fff;
        margin-left: $_8px;
      }

      &:hover {
        background-color: #00000030;
      }
    }

    
  }
}